In [ ]:
import pandas as pd

### 1st dataset (English-Urdu-Roman.txt)

In [ ]:
df = pd.read_csv("English-Urdu-Roman.txt", sep = ":", names=['English', 'Urdu', 'Roman-Urdu'])

In [ ]:
df.head()

    English    Urdu Roman-Urdu
0     News     خبر      khabar
1   Lively    آباد      aabaad
2    Honor    آبرو       aabru
3      you      آپ         aap
4  Manners    آداب      aadaab

In [ ]:
df.drop(columns=['English'], inplace=True)

In [ ]:
df

         Urdu  Roman-Urdu
0        خبر       khabar
1       آباد       aabaad
2       آبرو        aabru
3         آپ          aap
4       آداب       aadaab
..        ...         ...
484       یا          yaa
485       یا          yaa
486   یادگار    yaad gaar
487    یاقوت      yaaqoot
488     یتیم       yateem

[489 rows x 2 columns]

In [ ]:
df.to_csv("/content/dataset.txt", index=False)

### 2nd dataset (Urdu roman.tsv)

In [ ]:
df1 = pd.read_csv("urdu roman.tsv", sep = "\t")

In [ ]:
df1.head()

,Urdu,Roman-Urdu,Ur—Rom Confidence Score,English,Ur-En Confidence Score
0,لاڑکانا,larkana,1.00,larkana,1.000
1,ٹيرن,turn,1.00,turn,1.000
2,جوﻻٔي,july,0.75,july,0.935
3,انفو,info,1.00,espnhs,0.520
4,چیکو,chekoo5,1.00,mek,0.500

In [ ]:
df1.drop(columns=['Ur—Rom Confidence Score', 'English', 'Ur-En Confidence Score'], inplace=True)

In [ ]:
df1

         Urdu Roman-Urdu
0     لاڑکانا    larkana
1        ٹيرن       turn
2       جوﻻٔي       july
3        انفو       info
4        چیکو    chekoo5
...       ...        ...
4102     سبھا      subha
4103     گندا       gnda
4104     صلاح      sulah
4105    فرحان     farhan
4106      ایا        aya

[4107 rows x 2 columns]

## Merging dataset 1 and dataset 2

In [ ]:
data = [df, df1]
df_new = pd.concat(data)

In [ ]:
df_new.to_csv("/content/dataset.txt", index=False)

## Dataset 3 (UrduHighFreqList.xlsx)

In [ ]:
df2 = pd.read_excel("UrduHighFreqList.xlsx", names=['Urdu', 'Frequency','Roman-Urdu'])

In [ ]:
df2.head()

  Urdu  Frequency Roman-Urdu
0   ﮐﮯ     743949         KE
1  ﻣﻴﮟ     582882        MYN
2   ﮐﯽ     575545         KY
3   ﮨﮯ     466908         HE
4  اور     413788        AOR

In [ ]:
df2.drop(columns=['Frequency'], inplace=True)

In [ ]:
df2.head()

  Urdu Roman-Urdu
0   ﮐﮯ         KE
1  ﻣﻴﮟ        MYN
2   ﮐﯽ         KY
3   ﮨﮯ         HE
4  اور        AOR

## Merging Dataset 1, 2 and 3

In [ ]:
data_1 = [df_new, df2]
df_new1 = pd.concat(data_1)

In [ ]:
df_new1

        Urdu Roman-Urdu
0       خبر      khabar
1      آباد      aabaad
2      آبرو       aabru
3        آپ         aap
4      آداب      aadaab
...      ...        ...
4994     روٹ        ROT
4995    ﺳﻠﻮر       SLOR
4996    ﻓﺮﯾﻢ       FRYM
4997    ﮐﻬﻮﻻ      KHOLA
4998    ﻧﻮاح       NOAH

[9595 rows x 2 columns]

In [ ]:
df_new1.to_csv("/content/dataset.txt", index=False)

## Dataset 4 (pos.txt)

In [ ]:
df_pos = pd.read_csv("pos.txt", sep = ":", names=['English', 'Roman-Urdu', 'Frequency'])

In [ ]:
df_pos = df_pos.iloc[1: , :]
df_pos

          English   Roman-Urdu Frequency
1          abound       bharay        NN
2         abounds     zayad-ti       NNS
3       abundance       kasrat        NN
4        abundant         پرچر        NN
5      accessable   accessable        JJ
...           ...          ...       ...
1986          wow          wah        xx
1987       tiding  baha lejana        xx
1988  good habits      khubiya        xx
1989       advise      hidayat        xx
1990        mercy        reham        xx

[1990 rows x 3 columns]

In [ ]:
df_pos.drop(columns=['Frequency'], inplace=True)

### Excluding rows from 'Roman-Urdu' column containg urdu words

In [ ]:
df_pos_new = df_pos[df_pos['Roman-Urdu'].map(lambda x: x.isascii())]
df_pos_new

          English   Roman-Urdu
1          abound       bharay
2         abounds     zayad-ti
3       abundance       kasrat
5      accessable   accessable
6      accessible        rasai
...           ...          ...
1986          wow          wah
1987       tiding  baha lejana
1988  good habits      khubiya
1989       advise      hidayat
1990        mercy        reham

[1853 rows x 2 columns]

In [ ]:
df_pos_new['English'] = df_pos_new['English'].astype("string")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_pos_new.isnull().sum()

English       0
Roman-Urdu    0
dtype: int64

### Translate the English column values into urdu language

In [ ]:
df_eng = pd.DataFrame(df_pos_new['English'])
df_eng.head

<bound method NDFrame.head of           English
1          abound
2         abounds
3       abundance
5      accessable
6      accessible
...           ...
1986          wow
1987       tiding
1988  good habits
1989       advise
1990        mercy

[1853 rows x 1 columns]>

In [ ]:
!pip install translate-api

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: translate-api in /usr/local/lib/python3.7/dist-packages (4.9.5)
Requirement already satisfied: requests>=2.25.1 in /usr/local/lib/python3.7/dist-packages (from translate-api) (2.28.1)
Requirement already satisfied: lxml>=4.5.0 in /usr/local/lib/python3.7/dist-packages (from translate-api) (4.9.0)
Requirement already satisfied: loguru>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from translate-api) (0.6.0)
Requirement already satisfied: pathos>=0.2.7 in /usr/local/lib/python3.7/dist-packages (from translate-api) (0.2.9)
Requirement already satisfied: PyExecJS>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from translate-api) (1.5.1)
Requirement already satisfied: dill>=0.3.5.1 in /usr/local/lib/python3.7/dist-packages (from pathos>=0.2.7->translate-api) (0.3.5.1)
Requirement already satisfied: ppft>=1.7.6.5 in /usr/local/lib/python3.7/dist-packages (from pathos>=0.2.7->translate-api) (1.7.6.5)
Requirement already satisfied: multiprocess>=0.70.13 in /usr/local/lib/python3.7/dist-packages (from pathos>=0.2.7->translate-api) (0.70.13)
Requirement already satisfied: pox>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from pathos>=0.2.7->translate-api) (0.3.1)
Requirement already satisfied: six>=1.7.3 in /usr/local/lib/python3.7/dist-packages (from ppft>=1.7.6.5->pathos>=0.2.7->translate-api) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.1->translate-api) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.1->translate-api) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.1->translate-api) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.1->translate-api) (2.0.12)

In [ ]:
import translators as ts
#df_ur['Urdu'] = df_ur['English'].apply(lambda x: ts.google(x, to_language='ur'))

In [ ]:
eng_lst = df_eng['English'].to_list()
len(eng_lst)

1853

In [ ]:
ur_lst = []

for i in range(len(eng_lst)):
  val = ts.google(eng_lst[i], to_language='ur')
  ur_lst.append(val)

In [ ]:
df_pos_new['English'] = ur_lst

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_pos_new.rename(columns = {'English':'Urdu'}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df_pos_new

            Urdu   Roman-Urdu
1     بہتات ہونا       bharay
2      بہت زیادہ     zayad-ti
3           کثرت       kasrat
5     قابل رسائی   accessable
6     قابل رسائی        rasai
...          ...          ...
1986      زبردست          wah
1987    اسٹیرائن  baha lejana
1988  اچھی عادات      khubiya
1989   مشورہ دیں      hidayat
1990        رحمت        reham

[1853 rows x 2 columns]

## Merging datasets 1, 2, 3 and 4

In [ ]:
data_2 = [df_new1, df_pos_new]
df_new2 = pd.concat(data_2)

In [ ]:
df_new2

            Urdu   Roman-Urdu
0           خبر        khabar
1          آباد        aabaad
2          آبرو         aabru
3            آپ           aap
4          آداب        aadaab
...          ...          ...
1986      زبردست          wah
1987    اسٹیرائن  baha lejana
1988  اچھی عادات      khubiya
1989   مشورہ دیں      hidayat
1990        رحمت        reham

[11448 rows x 2 columns]

In [ ]:
df_new2.to_csv("/content/dataset.txt", index=False)

## Dataset 5 (neg.txt)

In [ ]:
df1 = pd.read_csv("neg.txt", sep = ":", names=['English', 'Roman-Urdu', 'Frequency'])
df1

         English     Roman-Urdu Frequency
0        2-faced        ﻿2-چہرے        JJ
1        2-faces         2-چہرے       NNS
2       abnormal  ghair mamooli        JJ
3        abolish         khatam        NN
4     abominable        makrooh        JJ
...          ...            ...       ...
4801      tyrant         zalimo        xx
4802        torm           azab        xx
4803        torm          azaab        xx
4804        sins        gunnaho        xx
4805   perilious      jaan lewa        xx

[4806 rows x 3 columns]

In [ ]:
df1.drop(columns='Frequency', inplace=True)
df1.head()

      English     Roman-Urdu
0     2-faced        ﻿2-چہرے
1     2-faces         2-چہرے
2    abnormal  ghair mamooli
3     abolish         khatam
4  abominable        makrooh

### Excluding Roman-Urdu rows with urdu words

In [ ]:
df2 = df1[df1['Roman-Urdu'].map(lambda x : x.isascii())]
df2

         English     Roman-Urdu
2       abnormal  ghair mamooli
3        abolish         khatam
4     abominable        makrooh
5     abominably          gunah
6      abominate   nafrat karna
...          ...            ...
4801      tyrant         zalimo
4802        torm           azab
4803        torm          azaab
4804        sins        gunnaho
4805   perilious      jaan lewa

[4297 rows x 2 columns]

In [ ]:
df2.dtypes

English       object
Roman-Urdu    object
dtype: object

## Translate the English column values into urdu language

In [ ]:
df2['English'] = df2['English'].astype("string")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df2.isnull().sum()

English       0
Roman-Urdu    0
dtype: int64

In [ ]:
df_eng = pd.DataFrame(df2['English'])
df_eng

         English
2       abnormal
3        abolish
4     abominable
5     abominably
6      abominate
...          ...
4801      tyrant
4802        torm
4803        torm
4804        sins
4805   perilious

[4297 rows x 1 columns]

### Remove special characters from the columns

In [ ]:
df_eng.drop(df_eng[df_eng.English.str.contains(r'[@#&$%+-/*]')].index, inplace=True)
df2.drop(df2[df2.English.str.contains(r'[@#&$%+-/*]')].index, inplace=True)

### Removing indexes which are not being processed by translator

In [ ]:
df_eng.drop(df_eng.index[940:960], inplace=True)
df2.drop(df2.index[940:960], inplace=True)

### Converting column to list in order to be translated

In [ ]:
eng_lst = df_eng['English'].to_list()
len(eng_lst)

4167

In [ ]:
ur_lst = []

for i in range(len(eng_lst)):
  val = ts.google(eng_lst[i], to_language='ur')
  ur_lst.append(val)

In [ ]:
len(ur_lst)

### Join translated list with dataframe

In [ ]:
df2['English'] = ur_lst

In [ ]:
df2.rename(columns = {'English':'Urdu'}, inplace = True)

## Merging datasets

In [ ]:
data = [df_new2, df2]
df3 = pd.concat(data)

In [ ]:
df3.head()

In [ ]:
df3.to_csv("/content/dataset.txt", index=False)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=556a3fde-c7fd-41aa-bcd5-1397a0d6edec' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>